html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

.list-books-title {
  background-color: #2e7c31;
  padding: 10px 0px;
  text-align: center;
}

.list-books-title h1{
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

.bookshelf h2{
  border-bottom: 1px solid #dedede;
}

.bookshelf-books {
  text-align: center;
}

.book {
  width: 198px;
}

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer{
  position: absolute;
  right: 0;
  bottom:-10px;
  width:40px;
  height:40px;
  background: #60ac5d;
  border-radius: 50%;
  background-image: url('./icons/arrow-drop-down.svg');
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
